body {
    margin: 0%;
    padding: 0%;
    background-color: #f4f6f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding-top: 60px;
}

nav {
    background-color: #003366;
    padding: 15px 20px;
    text-align: right;
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 25px;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}
